<!DOCTYPE html>
<html>
   <html lang="en">
  <meta charset="utf-8">  
       <html>
    <head>
        <title>Cyber Security website</title>
    </head>
<body>
   <div class="navbar">
   <ul class="no-bullets"> 
  <li><a href="/">Home</a></li>
  <li><a href="/virus">Virus</a></li>
  <li><a href="/worm">Worm</a></li>
  <li><a href="/trojan">Trojan</a></li>
</ul>
</div>


     