<%- include ('partials/header.ejs') %>
<html>
     <head>
        <title>Trojan</title>
         <link rel="stylesheet" href="/css/trojanstyles.css"/>
    </head>
<br>
<div class="box green-box">
  <br>
  <div class="box blue-box">
     <img src="/img/horse.jpg" alt="">
  <h1>Trojan</h1>
<p>Trojan horse or Trojan is a type of malware that can disguise itself as legitimate software. Unlike viruses and worms, trojan's cannot self-replicate.</p> 
<p>Instead they need user interaction in order to gain access to computer systems. Once this access has been given, 
Trojan's can use a variety of methods to spy on you or steal your information. </p>
<p>Things such as:
<p>Backdoor - gives a remote user control of a computer. </p>
<p>Exploit - programs that contain infected data that can take advantage of vulnerabilities in an operating system.</p>
<p>Rootkit - conceal malicious programs from being detected.</p>
<p>Trojan-Banker - steals account data for online banking systems.</p>
<p>Trojan DDOS - sends multiple requests to several infected computers to overwhelm the target address.</p>
<br>
<h2>You can learn more about Trojans and how to protect yourself
<a href="https://usa.kaspersky.com/resource-center/threats/trojans#:~:text=A%20Trojan%20horse%20or%20Trojan,executing%20Trojans%20on%20their%20systems." target="_blank"><span>Here</span></a>
<%- include('partials/footer.ejs', {words :words}) %>
</div>
</h2>
</div>
    </body>
</html>
