<%- include ('partials/header.ejs') %>
<html> 
    <head>
        <title>Virus</title>
          <link rel="stylesheet" href="/css/virusstyles.css"/>
    </head>
    <body>
</div>
<br>
<div class="box green-box">
  <br>
  <div class="box white-box">
     <div style="text-align: left"><img src="/img/virus.jpg"  alt="virus caution triangle"></div>
  <h1>Virus</h1>
<h2>Viruses are malignantly designed replicating computer programs that infect computer systems.</h2>
<h3>A computer virus operates in two ways. The first, as soon as a virus targets a new computer it begins to replicate. 
Then, it is rendered inert until it is activated by either a timer or the creator activates it. 
Once it is run it can infect the system and is only limited by the damage that the creator designed it to do. 
Fortunately, in this day and age, there are ways to protect ourselves against viruses, such as a good antivirus program, 
being careful about the files downloaded from the internet, updating your operating system. 
Futhermore, using modern technological devices with up-to date operating systems can help us fortify our cyber defenses against these threats. 
</h3>
  <p>* 70% of virus writers work for Organized crime syndicates.</p>
  <p>* 40% of US households are affected by computer viruses.</p>
  <p>* 90% of emails contain malware.</p>
  <p>* virus writers are often chldren or youg adults experimenting with their programming skills.</p>
  <p>* 6,000 new viruses are created every month.</p>
  <p>* You can't get a virus by reading an email; only by clicking a link or opening an attachment.</p>
  <p>* 1 in 14 programs downloaded is malicious.</p>

    <h3 class="text-center">Information is paraphrased from: 
  <a href="https://visual.ly/community/Infographics/computers/ten-shocking-facts-about-computer-viruses" target="_blank">Here,</a>
  <a href="https://antivirus.comodo.com/blog/computer-safety/what-is-virus-and-its-definition/#:~:text=A%20computer%20virus%20operates%20in,to%20run%20to%20be%20executed." target="_blank">Here</a>
  </div>
  </h3>
  </div>
    </body>
</html>