<%- include ('partials/header.ejs') %>
<html>
    <head>
        <title>Worm</title>
         <link rel="stylesheet" href="/css/wormstyles.css"/>
    </head>
    <body>
</div>
<br>
<div class="box green-box">
  <br>
   <div style="text-align: left"><img src="/img/wormeddata.jpg" alt="swirl"></div>
  <h1>Worm</h1>
<p>Worms are self replicating malware that can make copies of itself without the use of human interaction and do not need to attatch themselves to software in order to cause damage.<p/>
<p> A worm is a third form of malware, which only needs user interaction to gain access and launch an application in order to worm its way in, so to speak. Once it has this access, it no longer needs user input to attain its programmed goals.</p>
<p>A worm seeks out vulnerabilities in a computer's operating system that allow it to install and make copies of itself. It will then follow the <em>known</em> vulnerabilities in the network and file transfer protocols.</p>
<p>An obvious way to keep safe from worms is updating operating systems. Sound sinple? Well, you might be surprised to know that there are a number of enterprises and individual's that don't do this, giving worms a cyber haven of holes to burrow through.</p>
<h3 class="text-center">Information is paraphrased from: 
  <a href="https://www.csoonline.com/article/3429569/what-is-a-computer-worm-how-this-self-spreading-malware-wreaks-havoc.html" target="_blank"><span>Here</span></a>
</div>
</h3>
</div>
    </body>
</html>