    body {
  background: url(/img/windows.jpg) no-repeat;
  background-size: cover;
   width: 100%;
   top: 0;
  left: 0;
   color: #ffffff;
  font-family: Times;
  font-size: 20px;
  line-height: 1.3125;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
      src=".image.jpg",
      sizingMethod="scale"
    );
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";
}
  

.box {
  margin-top: 30%;
  text-align: center;
}

.button {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin-right: -5%;
}

.button:hover {
  color: blue;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 70px;
  visibility: hidden;
}
.overlay:target {
  visibility: visible;
}

.popup {
  margin: 70px auto;
  border-radius: 5px;
  border: 5px solid white;
  background-color: red;
  width: 30%;
  height: 30%;
  padding-left: 5px;
  margin-top: 20%;
 
  
}

.popup h2 {
  margin-top: -20%;
  margin-left: 40%;
  color: white;
  font-size: 50px;
  line-height: 1.3125;
  font-family: Times;
  
}


.popup .close {
  position: absolute;
  top: 43%;
  right: 36%;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  
  
}

img {
 max-width: 30%;
 margin-top: 7px;
 
}

p {
  color: white;
  text-align: left;
  font-size: 15px;
  margin-top: 3%;
  font-weight: bold;
  
}

.folder-icon img {
  margin-top: 10px;
  margin-right: 2%;
  max-width: 5%;
  
}

ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}


li {
  float: left;
}

li a {
  display: block;
  padding: 15px;
 
}

li a:hover {
    background-color: #7300ff;
    color: black;
}

.navbar {
  list-style: none;
  overflow: hidden;
  position: fixed; 
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}