 body {
  background-image: url(/img/anon.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Times;
  font-size: 20px;
  line-height: 1.3125;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
      src=".image.jpg",
      sizingMethod="scale"
    );
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";
}
  
.green-box {
  margin: 50px;
  background-attachment: fixed;
  padding: 200px;
  padding-top: 20px;
}

.blue-box {
  border: 5px solid white;
  background-color: blue;
  padding-left: 10px;
  
}

.box {
  text-align: center;
  margin-top: 0;
  padding-bottom: 0px;
  padding-top: 5px;
  opacity: .9;
}


  h1{
    font-size: 50px;
     font-family: Times;
    text-align: center;
    font-weight: bold;
  }

p{
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 15px;
}

li a:hover {
    background-color: #7300ff;
    color: #7300ff;
}


 h2 {
  font-size: 18px;
  text-align: left;
}

span {
  color: yellow;
}

.navbar {
  list-style: none;
  overflow: hidden;
  position: fixed; 
 width: 100%;
  height: 10%;
  top: 0;
  left: 0;
}